/* .desktopView {
    overflow-y: 'auto';
    height: '80vh';
    padding: '80px 400px';
} */

/* @media only screen and (max-width: 600px) {
    .desktopView {
        padding: '80px 4px';
    }
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Pacifico&display=swap');


/* font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive; */


.fontOpenSansBold{
    font-family: 'Open Sans', sans-serif;
}


/* emoji picker */
.picker-container {
  position: relative;
  width: 300px;
}
.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
}
.input-style {
  padding: 7px 30px 7px 10px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 10px;
}