/* .desktopView {
    overflow-y: 'auto';
    height: '80vh';
    padding: '80px 400px';
} */

/* @media only screen and (max-width: 600px) {
    .desktopView {
        padding: '80px 4px';
    }
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Pacifico&display=swap');


/* font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive; */


.fontOpenSansBold{
    font-family: 'Open Sans', sans-serif;
}