/* .desktopView {
    overflow-y: 'auto';
    height: '80vh';
    padding: '80px 400px';
} */

/* @media only screen and (max-width: 600px) {
    .desktopView {
        padding: '80px 4px';
    }
} */